<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Become a Super Hero by taking one of our courses!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <span class="timeline-image circled-number">1</span>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Level 0</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">With Zero to Hero we don't expect you to know it all. Our training courses start out with the basics and a firm foundation to build into elite super powers!</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <span class="timeline-image circled-number-secondary">2</span>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Level 1</h4>
                                    <h4 class="subheading">A Hero is Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Level 1 courses skip the absolute basics and start with simple exercises to get you going.</p>
                                </div>
                            </div>
                        </li>


                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Level 2</h4>
                                    <h4 class="subheading">Apprentice</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Transition to apprentice in Level 2 courses where you might have to look up a keyword or two.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Heroic Super Powers!</h4>
                                    <h4 class="subheading">Legendary</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">These Legendary Courses expect advanced expert knowledge to keep up but don't be shy to listen in. The Legendary Courses take you to the next level and give you Super Powers to become the true Hero we know you can become!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Become
                                    <br>A
                                    <br>Hero!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
