<!-- Event Section -->
    <section id="event" class="bg-darkest-gray" style="color: white; background-color: #292929;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Event Details</h2>
                    <h3 class="section-subheading text-muted-lg" style="color: aqua;">Zero to Hero Business Series: </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">

                    <h3 style="font-size: 45px; color: hotpink;">Likes & Ledgers</h3>
                    <p class="">
                        Ready to level up your business? 
                        </br>
                        Join us for the Zero to Hero Business Series 
                        </br>
                        in Slater, Iowa
                        </br>
                        on Saturday, June 14th, 2025 
                        </br>
                        from 8:30 am to 12:00 noon!
                        </br></br>
                        We'll dive into two crucial areas: 
                        </br>
                        mastering social media to connect with your customers 
                        </br>
                        and understanding your finances to build a strong foundation for growth.
                        </br></br> </br>
                    </p>
                </div>

                {% include sessions.html %}
                
                <div class="col-md-12">
                    <p class="">
                        Whether you're just starting out or looking to boost your existing small to medium-sized business
                        </br> 
                        in Central Iowa and right here in Slater, 
                        </br>
                        this event is designed for you. 
                        </br></br>
                        For just $30, your ticket covers access to the event space, all sessions, 
                        </br>
                        and refreshments (drinks, coffee, and snacks) throughout the morning. 
                        </br></br>
                        Don't miss this opportunity to gain practical insights 
                        </br>
                        and actionable strategies to take your business from zero to hero! 
                        </br></br>
                        Register now and get ready to thrive:
                        <br>
                    </p>
 
                    <span>
                    <!-- Noscript content for added SEO -->
                    <noscript>
                        <a href="https://www.eventbrite.com/e/zero-to-hero-business-series-likes-ledgers-tickets-1341319445569"
                            rel="noopener noreferrer" target="_blank">Buy Tickets on Eventbrite</a>
                    </noscript>
                    <!-- You can customize this button any way you like -->
                    <button id="eventbrite-widget-modal-trigger-1341319445569" class="btn btn-xl linear-wipe" style="font-size: 30px;">Event Tickets</button>
                    
                    <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>
                    
                    <script type="text/javascript">
                        var exampleCallback = function () {
                            console.log('Order complete!');
                        };

                        window.EBWidgets.createWidget({
                            widgetType: 'checkout',
                            eventId: '1341319445569',
                            modal: true,
                            modalTriggerElementId: 'eventbrite-widget-modal-trigger-1341319445569',
                            onOrderComplete: exampleCallback
                        });
                    </script>
                    
                </span>
                </div>

            </div>
        </div>
    </section>
