<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a> -->
                <!-- <a class="navbar-brand page-scroll" href="#page-top"><img src="/img/logos/Z2H LOGO-20250514T042936Z-1-001/Z2H LOGO/Zero 2 Hero logo.png"></img></a>" -->



                <a class="navbar-brand page-scroll" href="#page-top" style="text-shadow: 1px 1px 2px black">
                    <img 
                    width="contain" 
                    height="130"
                    src="{{ site.baseurl }}/img/logos/z2h-logo-small.png"  
                    alt="ZeroToHero Logo"
                    >                    
                     </img>
                </a>







            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#speakers">Speakers</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Topics</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <!-- <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li> -->
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>



                    <li>
                        <!-- Noscript content for added SEO -->
                        <noscript>
                            <a href="https://www.eventbrite.com/e/zero-to-hero-business-series-likes-ledgers-tickets-1341319445569"
                                rel="noopener noreferrer" target="_blank">Buy Tickets on Eventbrite</a>
                        </noscript>
                        <!-- You can customize this button any way you like -->
                        <button id="eventbrite-widget-modal-trigger-1341319445569" class="btn btn-xl shine-on-hover">Buy Tickets</button>
                        
                        <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>
                        
                        <script type="text/javascript">
                            var exampleCallback = function () {
                                console.log('Order complete!');
                            };

                            window.EBWidgets.createWidget({
                                widgetType: 'checkout',
                                eventId: '1341319445569',
                                modal: true,
                                modalTriggerElementId: 'eventbrite-widget-modal-trigger-1341319445569',
                                onOrderComplete: exampleCallback
                            });
                        </script>
                    </li>



                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <!-- <div class="container"> -->





            <div class="background-video-wrapper">
                <!-- <video class="background-video" preload="auto" autoplay loop muted playsinline poster="https://deepspacerobots.netlify.app/assets/video/galaxy-poster.jpg"> -->
                <video id="myVideo" class="background-video" preload="auto" autoplay loop muted playsinline poster="/img/Zero2Hero-Header-1280x900.jpg">

                <!-- <source src="https://deepspacerobots.netlify.app/assets/video/galaxy.mp4" type="video/mp4"> -->
                <source src="/img/Zero2HeroHeader-1280x900.mp4" type="video/mp4">

                </video>
                <div class="fade"></div>
                <div class="copy">



            <div class="intro-text">
                <div class="intro-lead-in">Zero To Hero Business Series!</div>
                <div class="intro-heading"><p class="intro-lead-in">Next Event : Saturday June 14</p>"Likes & Ledgers"</div>
                <!-- <a href="#speakers" class="page-scroll btn btn-xl">Teach Me Superpowers!</a> -->
                     <a href="#speakers" class="page-scroll btn btn-xl">Tell Me More!</a>
            </div>

                </div>
            </div>


        <!-- </div> -->
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
