<!-- Services Section -->
    <section id="speakers">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Speakers</h2>
                    <h3 class="section-subheading text-muted">Presenting the skills you need to become a Hero!</h3>
                </div>
            </div>
            <div class="row text-center">


                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive rounded-gradient-borders" src="/img/logos/z2h-logo-small.png" alt="">
                        </div>
                    </span>
                    <h4 class="service-heading">Zero To Hero</h4>
                    <p class="text-muted">Providing a platform for industry leaders to share and educate the next generation.</p>
                </div>



                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive rounded-gradient-borders" src="/img/team/Sarah2025sq.jpg" alt="">
                        </div>
                    </span>
                    <h4 class="service-heading">D79 Marketing</h4>
                    <p class="text-muted">Social Media & Content Marketing That Produces Real Results.</p>
                </div>


                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <div class="timeline-image">
                        <img class="img-circle img-responsive rounded-gradient-borders" src="/img/team/SuziCFO.jpg" alt="">
                    </div>
                    </span>
                    <h4 class="service-heading">SuziCFO</h4>
                    <p class="text-muted">Get a grasp on your financials
                        so that you can focus on growing your business.</p>
                </div>


            </div>
        </div>
    </section>
